body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
}

nav {
}
nav ul {
}
article {
} 
footer {
}
@media (max-width: 600px) {
    nav, article { width: 100%;
    }
}    
section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#login-form{

    display: flex;
    flex-direction: column;
    align-self: center;

}
form label{
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
