<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Colegio San Miguel</title>
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/estilos.css')}}">
    </head>
    <body>
        <header>
            <h2>Colegio San Miguel</h2>
        </header>
        <section>
            {% if not verif %}
                <p> Usuario o contraseña incorrecot</p>
            {% endif %}
            <form id="login-form" action="http://127.0.0.1:5000/" method='post'>
                <h1>Login</h1>
                <label  for="uinput" id="ulabel">
                    <span>Usuario:</span> <input name="Usuario" type="text" placeholder="Ingrese su usuario" required></label>
                <label name="contrasena" for="cinput" id="clabel"> 
                    <span>Contraseña</span>
                    <input name="contrasena" type="password" placeholder="Contraseña" required>
                </label>
                <label for="padre-rb">
                    <span>Padre</span>
                    <input type="radio" id="padre-rb" name="usuario-tipo" value="padre" required>
                </label>  
                <label for="preceptor-rb">
                    <span>Preceptor</span>
                    <input type="radio" id="preceptor-rb" name="usuario-tipo" value="preceptor" required> 
                </label> 
                <input type="submit" value="submit">
            </form>

        </section> <footer> <p>Dirección y teléfono del colegio</p> </footer>
    </body> </html>
