{% extends "base.html" %}
{% block menu %}
    <li><a href="/seleccionar-curso/registrar-asistencia">Registrar Asistencia</a></li>
    <li><a href="/seleccionar-curso/informe-detallado">Informe Detallado</a></li>
{% endblock %}
{% block content %}
 <h1>Buenos dias {{ nombre }}</h1>
 <form method="POST" action="/{{redir}}">
    <table>
        <thead><tr><td>Año</td><td>Division</td></tr></thead>
        {% for curso in cursos %}
        <tr><td>{{curso.anio}}</td><td>{{curso.division}}</td>
            <td><input type="radio" name="curso" value="{{curso.id}}" ></td></tr>
        {% endfor %}
    </table>
    <input type="submit" value="Seleccionar curso">
</form>
{% endblock %}
